<!-- include header -->
<%-include('header')%>
<!-- include header -->



<section class="login">
    <div class="container">
        <form class="form-control w-25">
              <input type="email" placeholder="Email adress">
        </form>
    
    </div>
</section>