<!-- include header -->
<%-include('header')%>
<!-- include header -->


<nav class="navbar navbar-light" style="background-color: #82f07e;">
  <div class="container">
  <h1 class="mx-auto">Login</h1>

  </div>
</nav>
<section class="login">
  
    <div class="container">
        <form action="/registration" class="form-floating w-50 mx-auto my-5">
              <input class="w-100 p-3"  type="email" placeholder="Email adress">
              <input class="w-100 p-3 my-5"  type="password" placeholder="Password">
              <button type="submit" class="btn btn-outline-success w-100">Add</button>
              <a href="/registration" class="nav-link text-center my-3">Sign in</a>
        </form>
    
    </div>
</section>